$kystDarkgreen: #2b4d29;
$kystGreen1:#446444;
$kystGreen2:#4c6647;
$kystGreen3:#5b7444;
$kystGreen4:#5c745c;
$kystGreen5:#94a466;
$kystGold: #c1a45f;
$kystLightGold: #f9f2a0;
$kystMiddleGold: #b18d4c;
$kystBrown: #886d35;
$kystGrey: #94a494;
