.loginContainer{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.form{
  display: flex;
  flex-direction: column;
  max-width: 320px;
}

.paper{
  max-width: 320px;
  padding:0.3em;
  margin: 1em;
}

.inputfield{
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}